#main
  .block
    .secondary-navigation
      %ul
        %li(id='list_families')= link_to t('list'), families_path
        %li(id='add_family' class='active')= link_to t('new'), new_family_path
    .content
      %h2
        = t('family.new')
      .inner
        = render 'form'
